[submodule "lib/parse"]
	path = lib/parse
	url = https://github.com/broccolimicro/parse.git
	ignore = dirty
[submodule "lib/parse_prs"]
	path = lib/parse_prs
	url = https://github.com/broccolimicro/parse_prs
	ignore = dirty
[submodule "lib/parse_expression"]
	path = lib/parse_expression
	url = https://github.com/broccolimicro/parse_expression.git
	ignore = dirty
[submodule "lib/parse_astg"]
	path = lib/parse_astg
	url = https://github.com/broccolimicro/parse_astg.git
	ignore = dirty
[submodule "lib/prs"]
	path = lib/prs
	url = https://github.com/broccolimicro/prs.git
	ignore = dirty
[submodule "lib/petri"]
	path = lib/petri
	url = https://github.com/broccolimicro/petri.git
	ignore = dirty
[submodule "lib/hse"]
	path = lib/hse
	url = https://github.com/broccolimicro/hse.git
	ignore = dirty
[submodule "lib/common"]
	path = lib/common
	url = https://github.com/broccolimicro/common.git
	ignore = dirty
[submodule "lib/boolean"]
	path = lib/boolean
	url = https://github.com/broccolimicro/boolean.git
	ignore = dirty
[submodule "lib/interpret_boolean"]
	path = lib/interpret_boolean
	url = https://github.com/broccolimicro/interpret_boolean.git
	ignore = dirty
[submodule "lib/interpret_hse"]
	path = lib/interpret_hse
	url = https://github.com/broccolimicro/interpret_hse.git
	ignore = dirty
[submodule "lib/interpret_prs"]
	path = lib/interpret_prs
	url = https://github.com/broccolimicro/interpret_prs.git
	ignore = dirty
[submodule "lib/parse_ucs"]
	path = lib/parse_ucs
	url = https://github.com/broccolimicro/parse_ucs.git
	ignore = dirty
[submodule "lib/parse_dot"]
	path = lib/parse_dot
	url = https://github.com/broccolimicro/parse_dot.git
	ignore = dirty
[submodule "lib/parse_chp"]
	path = lib/parse_chp
	url = https://github.com/broccolimicro/parse_chp.git
	ignore = dirty
[submodule "lib/arithmetic"]
	path = lib/arithmetic
	url = https://github.com/broccolimicro/arithmetic.git
	ignore = dirty
[submodule "lib/chp"]
	path = lib/chp
	url = https://github.com/broccolimicro/chp.git
	ignore = dirty
[submodule "lib/interpret_arithmetic"]
	path = lib/interpret_arithmetic
	url = https://github.com/broccolimicro/interpret_arithmetic.git
	ignore = dirty
[submodule "lib/interpret_chp"]
	path = lib/interpret_chp
	url = https://github.com/broccolimicro/interpret_chp.git
[submodule "bin/gated"]
	path = bin/gated
	url = https://github.com/broccolimicro/gated.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "lib/parse_spice"]
	path = lib/parse_spice
	url = https://github.com/broccolimicro/parse_spice.git
[submodule "bin/ckt"]
	path = bin/ckt
	url = https://github.com/broccolimicro/ckt.git
[submodule "lib/sch"]
	path = lib/sch
	url = https://github.com/broccolimicro/sch.git
[submodule "lib/phy"]
	path = lib/phy
	url = https://github.com/broccolimicro/phy.git
[submodule "lib/interpret_phy"]
	path = lib/interpret_phy
	url = https://github.com/broccolimicro/interpret_phy.git
[submodule "lib/gdstk"]
	path = lib/gdstk
	url = https://github.com/heitzmann/gdstk.git
[submodule "lib/interpret_sch"]
	path = lib/interpret_sch
	url = https://github.com/broccolimicro/interpret_sch.git
[submodule "lib/parse_cog"]
	path = lib/parse_cog
	url = https://github.com/broccolimicro/parse_cog.git
[submodule "lib/flow"]
	path = lib/flow
	url = https://github.com/broccolimicro/flow.git
[submodule "lib/parse_verilog"]
	path = lib/parse_verilog
	url = https://github.com/broccolimicro/parse_verilog.git
[submodule "lib/interpret_flow"]
	path = lib/interpret_flow
	url = https://github.com/broccolimicro/interpret_flow.git
[submodule "lib/weaver"]
	path = lib/weaver
	url = https://github.com/broccolimicro/weaver.git
