[submodule "bin/prsize"]
	path = bin/prsize
	url = git@git.yale.edu:eb823/prsize.git
[submodule "bin/prsim"]
	path = bin/prsim
	url = git@git.yale.edu:eb823/prsim.git
[submodule "bin/hsesim"]
	path = bin/hsesim
	url = git@git.yale.edu:eb823/hsesim.git
[submodule "bin/hseenc"]
	path = bin/hseenc
	url = git@git.yale.edu:eb823/hseenc.git
[submodule "bin/hseplot"]
	path = bin/hseplot
	url = git@git.yale.edu:eb823/hseplot.git
[submodule "lib/parse"]
	path = lib/parse
	url = git@git.yale.edu:eb823/parse.git
[submodule "lib/parse_prs"]
	path = lib/parse_prs
	url = git@git.yale.edu:eb823/parse_prs
[submodule "lib/parse_hse"]
	path = lib/parse_hse
	url = git@git.yale.edu:eb823/parse_hse
[submodule "lib/parse_expression"]
	path = lib/parse_expression
	url = git@git.yale.edu:eb823/parse_expression.git
[submodule "lib/parse_astg"]
	path = lib/parse_astg
	url = git@git.yale.edu:eb823/parse_astg.git
[submodule "lib/prs"]
	path = lib/prs
	url = git@git.yale.edu:eb823/prs.git
[submodule "lib/petri"]
	path = lib/petri
	url = git@git.yale.edu:eb823/petri.git
[submodule "lib/hse"]
	path = lib/hse
	url = git@git.yale.edu:eb823/hse.git
[submodule "lib/common"]
	path = lib/common
	url = git@git.yale.edu:eb823/common.git
[submodule "lib/boolean"]
	path = lib/boolean
	url = git@git.yale.edu:eb823/boolean.git
[submodule "lib/interpret_boolean"]
	path = lib/interpret_boolean
	url = git@git.yale.edu:eb823/interpret_boolean.git
[submodule "lib/interpret_hse"]
	path = lib/interpret_hse
	url = git@git.yale.edu:eb823/interpret_hse.git
[submodule "lib/interpret_prs"]
	path = lib/interpret_prs
	url = git@git.yale.edu:eb823/interpret_prs.git
[submodule "lib/ucs"]
	path = lib/ucs
	url = git@git.yale.edu:eb823/ucs.git
[submodule "lib/parse_ucs"]
	path = lib/parse_ucs
	url = git@git.yale.edu:eb823/parse_ucs.git
[submodule "lib/interpret_ucs"]
	path = lib/interpret_ucs
	url = git@git.yale.edu:eb823/interpret_ucs.git
[submodule "lib/parse_dot"]
	path = lib/parse_dot
	url = git@git.yale.edu:eb823/parse_dot.git
[submodule "lib/parse_chp"]
	path = lib/parse_chp
	url = git@git.yale.edu:eb823/parse_chp.git
